body{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

p{
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  color: white;
}

/*grid*/

body {
  font: 150% sans-serif;
  color: white;
  background: black;
  text-align: center;
}

.uebergang a {
  font-size: 150%;
  color: white;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.uebergang a:hover {
   color: yellow;
   font-size: 200%;
   background-color: white;
}

#myDIV {
  width: 300px;
  height: 200px;
  background: red;
  animation: mymove 5s infinite;
}
