body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  margin: auto;
}

h1 {
  font-size: 5rem;
  text-align: center;
  position: relative;
}

/* Start */


.start {
  background: #141E30;
  padding-top: 20rem;
}

.start_raster > * {

}

.start_raster {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  background: #141E30;
  color: white;
}

.headtop img {
  width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  animation-name: bewegen;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-delay: 0s;
  animation-fill-mode: forwards;

}

@keyframes bewegen {
  0% {
   left: 0;
   transform: rotate(0deg);
  }

  25% {
   top: 60%;
   transform: rotate(180deg);
  }

  50% {
   left: 80%;
   transform: rotate(360deg);
  }

  75% {
   top: 20%;
   transform: rotate(180deg);
  }

  100% {
   left: 35%;
   transform: rotate(0deg);
  }

}

.headbottom.isinview img  {
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 2rem;

  animation-name: dissapear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-delay: 5.5s;
  animation-fill-mode: forwards;

}

@keyframes dissapear {
  0% {
   filter: blur(0);
   opacity: 100%;
  }

  50% {
   filter: blur(3rem);
   opacity: 100%;
  }

  100% {
    filter: blur(3rem);
    opacity: 0;
  }
}


.advice {
  font-size: 1rem;
  text-align: center;
  z-index: 80;
  opacity: 0;

  animation-name: startdown;
  transform-origin: 1s;
  animation-duration: 1s;
  animation-delay: 5.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.scrollit img {
  animation-name: startdown;
  width: 4%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 80;
  opacity: 0;

  animation-name: startdown;
  transform-origin: 1s;
  animation-duration: 1s;
  animation-delay: 6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes startdown {

0% {
  opacity: 100%;
  top: 0;
}

100% {
  opacity: 100%;
  top: 30%;
}
}

/* I close my Eyes */

.close {
  background: #141E30;
  padding-top: 20rem;
  padding-bottom: 20rem;

}

.close_raster > * {

}

.close_raster {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: repeat(3, 1fr);
  background: #141E30;
  color: white;
}

.eyes {
  font-size: 6rem;
  text-align: center;
  font-weight: 700;
  padding-top: 3rem;
  padding-bottom: 3rem;
  position: relative;

}

.eyes.animationdown.isinview {
  animation-name: fadeoutdown;
  transform-origin: 1s;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: linear;
  animation-fill-mode: forwards; 
}

@keyframes fadeoutdown {

0% {
  opacity: 100%;
  top: 0;
}

100% {
  opacity: 0%;
  top: 50%;
}
}

/* And I can see */

.cansee {
  padding-top: 16rem;
  padding-bottom: 16rem;
  color: white;
}

.cansee_raster > * {
}

.cansee_raster {
  display: grid;
  grid-template-areas:
  ". and and and . "
  ". can can can ."
  ". see1 . see2 .";
  grid-template-columns: 0.2fr 1fr 0.1fr 1fr 0.2fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
  font-weight: 700;
}


.checkview {
  width: 100%;
  transition: all 1s ease;
  transition-delay: 0.5s;
}


.and {
  font-size: 10rem;
  grid-area: and;
}

.and.isinview {
    animation-name: and_one;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; 
}

@keyframes and_one {
0% {
color: white;
filter: blur(1rem);
}

100% {
  color: #141E30;
  filter: blur(0);
}
}


.can {
  font-size: 10rem;
  grid-area: can;
}

.can.isinview {
    animation-name: can_one;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; 
}

@keyframes can_one {
0% {
color: white;
filter: blur(1rem);
}

100% {
  color: #141E30;
  filter: blur(0);
}
}

.see1 {
  font-size: 10rem;
  text-align: right;
  grid-area: see1;
  color: white;
}

.see2 {
  font-size: 10rem;
  text-align: left;
  grid-area: see2;
  color: white;
}

.see1.isinview {
    animation-name: see_one;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}

@keyframes see_one {
0% {
transform: rotateX(90deg);
color: #EDEDF4;
}

100% {
transform: rotateX(0deg);
color: #141E30;
}
}

.see2.isinview {
    animation-name: see_two;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}

@keyframes see_two {
0% {
transform: rotateX(90deg);
color: #EDEDF4;
}

100% {
transform: rotateX(0deg);
color: #141E30;
}
}



/* The World */
.world {
  color: #141E30;
  font-size: 5rem;
  font-weight: 700;
line-height: 0.2;
}

.world_raster > * {

}

.world_raster {
  display: grid;
  grid-template-areas:
  " world1 world2 world3 world4 "
  " world12 . . world5 "
  " world11 . . world6 "
  " world10 world9 world8 world7 ";

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr;
  background: #141E30;
  padding-bottom: 3rem;
}

.world1.checkview {
  grid-area: world1;
  font-size: 6rem;
  text-align: left;
  animation: blinker1 0.25s linear infinite;
}

@keyframes blinker1 {
  50% {
    color: white;
  }
}


.world2.checkview {
  grid-area: world2;
  font-size: 6rem;
  text-align: left;
  animation: blinker2 0.25s linear infinite;
  animation-delay: 0.25s;
}

@keyframes blinker2 {
  50% {
    color: white;
  }
}



.world3.checkview {
  grid-area: world3;
  font-size: 6rem;
  text-align: left;
  animation: blinker3 0.25s linear infinite;
  animation-delay: 0.5s;
}

@keyframes blinker3 {
  50% {
    color: white;
  }
}


.world4.checkview {
  grid-area: world4;
  font-size: 6rem;
  text-align: left;
  animation: blinker4 0.25s linear infinite;
  animation-delay: 0.75s;
}

@keyframes blinker4 {
  50% {
    color: white;
  }
}


.world5.checkview {
  grid-area: world5;
  font-size: 6rem;
  text-align: left;
  animation: blinker5 0.25s linear infinite;
  animation-delay: 1s;
}

@keyframes blinker5 {
  50% {
    color: white;
  }
}


.world6.checkview {
  grid-area: world6;
  font-size: 6rem;
  text-align: left;
  animation: blinker6 0.25s linear infinite;
  animation-delay: 1.25s;
}

@keyframes blinker6 {
  50% {
    color: white;
  }
}


.world7.checkview {
  grid-area: world7;
  font-size: 6rem;
  text-align: left;
  animation: blinker7 0.25s linear infinite;
  animation-delay: 1.5s;
}

@keyframes blinker7 {
  50% {
    color: white;
  }
}


.world8.checkview {
  grid-area: world8;
  font-size: 6rem;
  text-align: left;
  animation: blinker8 0.25s linear infinite;
  animation-delay: 1.75s;
}

@keyframes blinker8 {
  50% {
    color: white;
  }
}


.world9.checkview {
  grid-area: world9;
  font-size: 6rem;
  text-align: left;
  animation: blinker9 0.25s linear infinite;
  animation-delay: 2s;
}

@keyframes blinker9 {
  50% {
    color: white;
  }
}


.world10.checkview {
  grid-area: world10;
  font-size: 6rem;
  text-align: left;
  animation: blinker10 0.25s linear infinite;
  animation-delay: 2.25s;
}

@keyframes blinker10 {
  50% {
    color: white;
  }
}


.world11.checkview {
  grid-area: world11;
  font-size: 6rem;
  text-align: left;
  animation: blinker11 0.25s linear infinite;
  animation-delay: 2.5s;
}

@keyframes blinker11 {
  50% {
    color: white;
  }
}


.world12.checkview {
  grid-area: world12;
  font-size: 6rem;
  text-align: left;
  animation: blinker12 0.25s linear infinite;
  animation-delay: 2.75s;
}

@keyframes blinker12 {
  50% {
    color: white;
  }
}




/* That's waiting up for me */

.waiting {
}

.waiting_raster > * {
}

.waiting_raster {
  font-size: 4rem;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(800px, 1fr));
  color: #141E30;
  text-align: center;
  margin-top: 20rem;
  font-weight: 700;

}


/*Through the… */

.through {
  background-color: #141E30;
  padding-top: 7rem;
  padding-bottom: 20rem;
}

.through_raster > * {
}

.through_raster {
  display: grid;
  grid-template-areas:
  ". bla1 bla2 .";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 10rem;
}

.through1 {
  grid-area: bla1;
  font-size: 6rem;
  text-align: center;
  position: relative;
  color: #141E30;
  font-weight: 700;
  }

.vonoben1.isinview {
    animation-name: vonoben1;
    transform-origin: 1s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: linear;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}

@keyframes vonoben1 {
0% {
top: 0;
color: #141E30;
}

100% {
top: 20%;
color: black;
}
}

.through2 {
  grid-area: bla2;
  font-size: 6rem;
  text-align: center;
  position: relative;
  color: #141E30;
  }

.vonoben2.isinview {
    animation-name: vonoben2;
    transform-origin: 2s;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: linear;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}

@keyframes vonoben2 {
0% {
  color: #141E30;
  top: 0;
}

100% {
  color: black;
  top: 20%;
}
}

/* …dark,*/

.dunkelheit {
background: black;
}

.dunkelheit_raster {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 0.2fr;
  grid-template-rows: 1fr;
  padding-top: 25rem;
  padding-bottom: 20rem;
}

.dark1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 20rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  left: 0;
  text-shadow: 0 0 20px white;
}

.bewegt1.isinview {
  animation-name: leftie;
  transform-origin: 1s;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  }

  @keyframes leftie {
  0% {
    text-shadow: 0 0 20px white;
  }

  100% {
    text-shadow: 0 0 0 ;
  }
  }

.dark2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  font-size: 20rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  left: 0;
  text-shadow: 0 0 20px white;
}

.bewegt2.isinview {
  animation-name: leftieleft;
  transform-origin: 1s;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  }

  @keyframes leftieleft {
  0% {
    text-shadow: 0 0 20px white;
  }

  100% {
    text-shadow: 0 0 0 ;
  }
  }

.dark3 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  font-size: 20rem;
  font-weight: 700;
  position: relative;
  left: 0;
  text-align: center;
  text-shadow: 0 0 20px white;
}

.bewegt3.isinview {
  animation-name: lef;
  transform-origin: 1s;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  }

  @keyframes lef {
  0% {
    text-shadow: 0 0 20px white;
  }

  100% {
    text-shadow: 0 0 0 ;
  }
  }

.dark4 {
  grid-column: 5 / 6;
  grid-row: 1 / 2;
  font-size: 20rem;
  font-weight: 700;
  position: relative;
  left: 0;
  text-align: center;
  text-shadow: 0 0 20px white;
}

.bewegt4.isinview {
  animation-name: leflef;
  transform-origin: 1s;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  }

  @keyframes leflef {
  0% {
    text-shadow: 0 0 20px white;
  }

  100% {
    text-shadow: 0 0 0 ;
  }
  }



/* …through the…*/

.again {
  background-color: #141E30;
  padding-top: 10rem;
  padding-bottom: 25rem;
}

.again_raster > * {
}

.again_raster {
  display: grid;
  grid-template-areas:
  ". bla3 bla4 .";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-top: 10rem;
}

.again1 {
  grid-area: bla3;
  font-size: 6rem;
  text-align: center;
  position: relative;
  color: #141E30;
  font-weight: 700;
  }

.vontop1.isinview {
    animation-name: vontop1;
    transform-origin: 1s;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: linear;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}

@keyframes vontop1 {
0% {
top: 0;
color: #141E30;
}

100% {
top: 20%;
color: black;
}
}

.again2 {
  grid-area: bla4;
  font-size: 6rem;
  text-align: center;
  position: relative;
  color: #141E30;
  }

.vontop2.isinview {
    animation-name: vontop2;
    transform-origin: 2s;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: linear;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}

@keyframes vontop2 {
0% {
  color: #141E30;
  top: 0;
}

100% {
  color: black;
  top: 20%;
}
}

/*… door*/

.door {
  background: white;
  margin: 5rem;
}

.door_raster > * {
}

.door_raster {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
  grid-template-rows: 1fr;
}

.do {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 20rem;
  text-align: right;
  font-weight: 700;
  color: #141E30;
}

.do div p {
  float: left;
}

.eins {
  perspective-origin: 50% 50%;
  perspective: 300px;
}
/*
.eins.isinview p:nth-child(1) {
  transform: rotateY(20deg);
  transition: all 3s ease-out;
}
*/
.or {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  font-size: 20rem;
  text-align: left;
  font-weight: 700;
  color: #141E30;
}

.or div p {
  float: left;
}

.zwei {
  perspective-origin: 50% 50%;
  perspective: 300px;
}


.zwei.isinview
p:nth-child(1) {
  transform: rotateY(-20deg);
  transition: all 4s ease-out;
  transition-delay: 1s;
}




/*Through where no one's been before*/

.noone {
background: #16425B;
color: white;
}

.noone_raster > * {
}

.noone_raster {
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.6fr 0.9fr ;
  grid-template-rows: 0.2fr 0.5fr 1fr;
}

.through5 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 3rem;
  text-align: right;
  padding-top: 10rem;
  padding-bottom: 0;
}

.no {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  font-size: 7rem;
  text-align: center;
  font-weight: 700;
  padding: 0;
  position: relative;
}

.no.isinview {
  animation-name: kipp;
  transform-origin: center;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes kipp {
  0% {
    transform: rotateZ(0deg);

  }

  100% {
    transform: rotateZ(-360deg);
  }
}

.has {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-size: 3rem;
  text-align: left;
}


/*A Million Dreams*/
.dreams {
  background: rgb(9,210,206);
  background: linear-gradient(180deg, rgba(9,210,206,1) 0%, rgba(35,108,150,1) 30%, rgba(146,54,177,1) 59%, rgba(250,208,3,1) 100%);
  padding-top: 10rem;
}

.dreams_raster  > *{
}
/*
.dreams_raster > * {
}
.dreams_raster {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
  grid-auto-rows: min-content;
  color: black;
}
*/
.dreams_raster div {
    font-size: 3rem;
    text-transform: uppercase;
    position: relative;
}

.dreams_raster {
  display: grid;
  align-items: center;
  grid-template-columns: 0.2fr repeat(5, 1fr) 0.2fr;
  grid-auto-rows: min-content;
  text-align: center;
  color: white;
}

.animation_left{
    animation-name: bewegen_li;
    transform-origin: left;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

.animation_left_fast{
    animation-name: bewegen_li_fa;
    transform-origin: center;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

.animation_right{
    animation-name: bewegen_re;
    transform-origin: right;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;

}

.animation_right_fast{
    animation-name: bewegen_re_fa;
    transform-origin: left;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;

}

.animation_middle{
    animation-name: bewegen_mi;
    transform-origin: 6s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes bewegen_li {
0% {
left: 0;
opacity: 100%;
}

50% {
opacity: 50%;
}

100% {
left: 20px;
opacity: 100%;
}
}

@keyframes bewegen_li_fa {
0% {
left: 40px;
}

100% {
left: 0;
}
}

@keyframes bewegen_re {
0% {
opacity: 100%;
}

30% {
opacity: 0%;
}

100% {
opacity: 100%;
}
}

@keyframes bewegen_re_fa {
0% {
right: 30px;
}

100% {
right: 10px;
}
}

@keyframes bewegen_mi {
0% {
opacity: 50%;
right: 0;
}

50% {
opacity: 0%;
right: 15px;
}

100% {
opacity: 50%;
right: 30px;
}
}

/*Through where no one's been before*/

.fin {

}

.fin_raster > * {
}

.fin_raster {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
  grid-auto-rows: min-content;
  color: white;
}

.fin1 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  font-size: 3rem;
  text-align: left;
}

.fin2 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  font-size: 2rem;
  text-align: left;
  padding-bottom: 5rem;
}

.fin3 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  font-size: 3rem;
  text-align: left;
}

.fin4 {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  font-size: 3rem;
  text-align: right;
  padding-top: 3rem;
}

.fin5 {
  grid-column: 5 / 6;
  grid-row: 5 / 6;
  font-size: 4rem;
  text-align: left;
}

.fin6 {
  grid-column: 4 / 5;
  grid-row: 6 / 7;
  font-size: 2rem;
  text-align: left;
}

.fin7 {
  grid-column: 3 / 4;
  grid-row: 8 / 9;
  font-size: 3rem;
  text-align: left;
}

.fin8 {
  grid-column: 4 / 5;
  grid-row: 9 / 10;
  font-size: 2.5rem;
  text-align: left;
}

.fin9 {
  grid-column: 3 / 4;
  grid-row: 10 / 11;
  font-size: 2rem;
  text-align: right;
  margin-bottom: 15rem;
}

.glow{
    animation-name: glowing;
    transform-origin: center;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease;
}

@keyframes glowing {
	0% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
	}
	100% {
        text-shadow: 0 0 30px  rgba(230, 230, 230, 0.7);
	}
}

/*That's all it takes*/

.all {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  background: rgba(250,208,3,1);
}

.all_raster > * {
}

.all_raster {
  font-size: 4rem;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  color: white;
  text-align: center;
}

.hillpic img {
  width: 100%;
  height: 100%;
  position: relative;
}

/*Impressum*/

h3 {
  line-height: 1;
}

.impressum {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-top: 5rem;
}

.impressum_raster > * {
}

.impressum_raster {
  display: grid;
  grid-template-areas:
  ". about . name ."
  ". quelle quelle quelle .";
  grid-template-columns: 0.5fr 1.5fr 0.2fr 1fr 0.5fr;
  grid-template-rows: 1fr 0.5fr;
  color: #141E30;
}

.about {
  grid-area: about;
  font-weight: 300;
  padding-bottom: 2rem;
}

.name {
  grid-area: name;
  font-weight: 300;

}

.beschrieb {
  font-weight: 300;
  padding-bottom: 2rem;
}

.quelle {
  grid-area: quelle;
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 1rem;
  z-index: 1;
}

.footer {
  grid-column: 1 / 6;
  grid-row: 2 / 3;
  background: #DCE0D9;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: rgba(250,208,3,1);
  font-weight: 400;
}
