

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  margin: auto;
}




/* I close my Eyes */

h1 {
  font-size: 5rem;
  text-align: center;
  position: relative;
}

.close {
  display: grid;
  background: #141E30;
}

.close_raster > * {

}

.close_raster {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: repeat(6, 1fr);
  background: black;
  color: white;
}

/* This only changes this particular animation duration */
.animate__animated.animate__fadeOutDown {
  --animate-duration: 4s;
}

/*
.close_raster {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: black;
  color: white;
}

.close_raster div {
  font-size: 5rem;
  text-align: center;
  position: relative;
}

.animation {
  animation-name: fadeOutDown;
  transform-origin: 1s;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@@keyframes fadeOutDown {

0% {
  opacity: 100%;
  top: 0;
}

100% {
  opacity: 0%;
  top: 5rem;
}
}
*/

/* And I can see

.cansee {
  display: grid;
  background: linear-gradient(180deg, #141E30, white 100%);
}

.cansee_raster > * {

}

.cansee_raster {
  margin-top: 10rem;
  display: grid;
  font-size: 4rem;
  padding: 0;
  line-height: 0;
  grid-template-columns: 0.2fr repeat(6, 0.25fr) 0.2fr;
}

.and1 {
  grid-column: 2;
  writing-mode: sideways-rl;
  display: flex;
  align-items: center;
}

.and2 {
  grid-column: 3;
  writing-mode: sideways-rl;
  display: flex;
  align-items: center;
}

.and3 {
  grid-column: 4;
  writing-mode: sideways-rl;
  display: flex;
  align-items: center;
}

.and4 {
  grid-column: 5;
  writing-mode: sideways-rl;
  display: flex;
  align-items: center;
}

.and5 {
  grid-column: 6;
  writing-mode: sideways-rl;
  display: flex;
  align-items: center;
}

.and6 {
  grid-column: 7;
  writing-mode: sideways-rl;
  display: flex;
  align-items: center;
}

*/

.cansee {
  background: rgb(20,30,48);
  background: linear-gradient(180deg, rgba(20,30,48,1) 0%, rgba(255,255,255,1) 100%);
  padding-top: 10rem;
}

.cansee_raster > * {
}

.cansee_raster {
  display: grid;
  grid-template-areas:
  ". and . "
  ". i ."
  ". can ."
  ". see1 ."
  ". see2 ."
  ". see3 .";
  grid-template-columns: 0.2fr 1fr 0.2fr;
  grid-template-rows: 0.4fr 0.6fr 0.8fr 1fr 1fr 1fr;
  text-align: center;
  font-weight: 700;
}


.checkview{
  transition: all 1s ease;
  transition-delay: 0.5s;
}


.and {
  font-size: 4rem;
  grid-area: and;
}

.i {
  font-size: 6rem;
  grid-area: i;
}

.can {
  font-size: 8rem;
  grid-area: can;
}

.see1 {
  font-size: 20rem;
  grid-area: see1;
}

.see2 {
  font-size: 10rem;
  grid-area: see2;
  padding-top: 4rem;
}

.see3 {
  font-size: 18rem;
  margin-bottom: 5rem;
  grid-area: see3;
}

.animation.isinview {
    animation-name: see_one;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: linear;
    animation-timing-function: ease-in;
}

@keyframes see_one {
0% {
color: #141E30;
opacity: 0;
}

100% {
color: #141E30;
opacity: 100%;
}
}


/* The World */

/*
.world_raster {
  margin-top: 10rem;
  color: black;
  display: grid;
  padding: 0;
  grid-template-areas:
  ". the . . ."
  ". w o . ."
  ". . r l ."
  ". . r d .";
  grid-template-columns: 25vw 1fr 1fr 0.5fr 25vw;
  grid-template-rows: 5vh 20vh 30vh 30vh;
  grid-auto-flow: row;
}

*/

.world_raster > * {

}

.world_raster {
  display: grid;
  grid-template-areas:
  ". the . . . ."
  ". . w o . ."
  ". . r l . ."
  ". . . d . .";
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 0.2fr;
  grid-auto-rows: 0.2fr 0.3fr 0.5fr 0.5fr;
  font-weight: 700;
}

.the {
  font-size: 6rem;
  line-height: 0;
  grid-area: the;
}

.w {
  font-size: 18rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  grid-area: w;
}

.o {
  font-size: 18rem;
  margin-top: 2rem;
  margin-bottom: 0;
  line-height: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-area: o;
}

.r {
  font-size: 30rem;
  text-align: center;
  margin-right: 5rem;
  margin-top: 0;
  margin-bottom: 0;
  grid-area: r;
}

.l {
  font-size: 20rem;
  line-height: 0;
  writing-mode: sideways-lr;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  grid-area: l;
}

.d {
  font-size: 15rem;
  grid-area: d;
  text-align: right;
  margin-top: 0;
  margin-bottom: 0;
}



/* That's wating up for me */

.waiting {
}

.wating_raster > * {
}

.wating_raster {
  font-size: 4rem;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, minmax(800px, 1fr));
  color: black;
  text-align: center;
  margin-top: 20rem;
  font-weight: 700;

}


/*Through the dark, through the Door*/

.dark {
  background-color: #141E30;
  padding-top: 50rem;
}

.dark_raster > * {
}

.dark_raster {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 0.2fr;
  grid-auto-rows: min-content;
  text-align: center;
  margin-top: 20rem;
}



.dark_left {
  grid-column: 1 / 5;
  grid-row: 1 / 2;
  font-size: 6rem;
  text-align: left;
  position: relative;
  color: #black;
}

.dark_right {
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  font-size: 6rem;
  text-align: right;
}

.do {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  font-size: 20rem;
  text-align: right;
}

.or {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  font-size: 20rem;
  text-align: left;
}

/*Through where no one's been before*/

.noone {

}

.noone_raster > * {
}

.noone_raster {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 0.2fr;
  grid-auto-rows: min-content;
  color: black;
}

.through {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 3rem;
  text-align: left;
  padding-top: 10rem;
}

.where {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  font-size: 3rem;
  text-align: left;
  padding-bottom: 5rem;
}

.no {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  font-size: 3rem;
  writing-mode: sideways-rl;
  display: flex;
  text-align: left;
}

.ones {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  font-size: 3rem;
  text-align: right;
  padding-top: 3rem;
}

.been {
  grid-column: 5 / 6;
  grid-row: 5 / 6;
  font-size: 3rem;
  writing-mode: sideways-rl;
  display: flex;
  text-align: left;
}

.before {
  grid-column: 3 / 4;
  grid-row: 6 / 7;
  font-size: 3rem;
  text-align: left;
}

.dreams1 {
  grid-column: 3 / 4;
  grid-row: 7 / 8;
  font-size: 3rem;
  text-align: right;
  color: #525B76;
}

.dreams2 {
  grid-column: 4 / 5;
  grid-row: 8 / 9;
  font-size: 3rem;
  text-align: left;
  color: #1F5673;
}

.dreams3 {
  grid-column: 3 / 4;
  grid-row: 9 / 10;
  font-size: 3rem;
  text-align: left;
  color: #759FBC;
}

.dreams4 {
  grid-column: 3 / 4;
  grid-row: 10 / 11;
  font-size: 3rem;
  text-align: right;
  color: #90C3C8;
}

.dreams5 {
  grid-column: 2 / 3;
  grid-row: 11 / 12;
  font-size: 3rem;
  text-align: right;
  color: #B5D6D6;
}


/*A Million Dreams*/
.dreams {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(39,222,226,1) 18%, rgba(11,27,97,1) 38%, rgba(217,29,205,1) 62%, rgba(233,184,27,1) 81%);
  padding-top: 10rem;
  width:100vw;
  overflow:hidden;
}

.dreams_raster  > *{
}
/*
.dreams_raster > * {
}

.dreams_raster {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
  grid-auto-rows: min-content;
  color: black;
}
*/
.dreams_raster div {
    font-size: 3rem;
    text-transform: uppercase;
    position: relative;
}

.dreams_raster {
  display: grid;
  align-items: center;
  grid-template-columns: 0.2fr repeat(5, 1fr) 0.2fr;
  grid-auto-rows: min-content;
  text-align: center;
  color: white;
}

.animation_left{
    animation-name: bewegen_li;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.animation_left_fast{
    animation-name: bewegen_li_fa;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.animation_right{
    animation-name: bewegen_re;
    transform-origin: 2s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}

.animation_right_fast{
    animation-name: bewegen_re_fa;
    transform-origin: 4s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}

.animation_middle{
    animation-name: bewegen_mi;
    transform-origin: 6s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes bewegen_li {
0% {
left: 0;
opacity: 100%;
font-size: 2.7rem;
}

50% {
opacity: 50%;
}

100% {
left: 20px;
opacity: 100%;
font-size: 3rem;
}
}

@keyframes bewegen_li_fa {
0% {
left: 40px;
font-size: 3rem;
}

100% {
left: 0;
font-size: 2.9rem;
}
}

@keyframes bewegen_re {
0% {
opacity: 100%;
font-size: 3rem;
}

30% {
opacity: 0%;
}

100% {
opacity: 100%;
font-size: 2.7rem;
}
}

@keyframes bewegen_re_fa {
0% {
right: 30px;
}

100% {
right: 10px;
}
}

@keyframes bewegen_mi {
0% {
opacity: 50%;
right: 0;
}

50% {
opacity: 0%;
right: 15px;
}

100% {
opacity: 50%;
right: 30px;
}
}

/*Through where no one's been before*/

.fin {

}

.fin_raster > * {
}

.fin_raster {
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
  grid-auto-rows: min-content;
  color: white;
}

.fin1 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  font-size: 3rem;
  text-align: left;
}

.fin2 {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
  font-size: 2rem;
  text-align: left;
  padding-bottom: 5rem;
}

.fin3 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  font-size: 3rem;
  text-align: left;
}

.fin4 {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  font-size: 3rem;
  text-align: right;
  padding-top: 3rem;
}

.fin5 {
  grid-column: 5 / 6;
  grid-row: 5 / 6;
  font-size: 4rem;
  text-align: left;
}

.fin6 {
  grid-column: 4 / 5;
  grid-row: 6 / 7;
  font-size: 2rem;
  text-align: left;
}

.fin7 {
  grid-column: 3 / 4;
  grid-row: 8 / 9;
  font-size: 3rem;
  text-align: left;
}

.fin8 {
  grid-column: 4 / 5;
  grid-row: 9 / 10;
  font-size: 2.5rem;
  text-align: left;
}

.fin9 {
  grid-column: 3 / 4;
  grid-row: 10 / 11;
  font-size: 2rem;
  text-align: left;
  padding-bottom: 20rem;
}

/*That's all it takes*/

.all {
}

.all_raster > * {
}

.all_raster {
  font-size: 4rem;
  font-weight: 700;
  display: grid;
  grid-template-columns: 1fr;
  color: white;
  text-align: center;
  margin-top: 20rem;
}
